<div class="footer">
    <div class="footer--wrapper">
        <div class="footer--wrapper-menu">
            <div class="footer--wrapper-menu-left">
                <ul class="footer--wrapper-menu-list">
                    <li class="footer--wrapper-menu-list-item"><a href="">Dashboard</a></li>
                    <li class="footer--wrapper-menu-list-item"><a href="">Contacts</a></li>
                    <li class="footer--wrapper-menu-list-item"><a href="">Notifications</a></li>
                </ul>

                <div class="footer--wrapper-menu-credits">
                    <span>&copy; 2015 Contactify</span>
                    <a href="">About</a>
                    <a href="">Privacy</a>
                </div>
            </div>

            <div class="footer--wrapper-menu-middle">
                <div class="footer--wrapper-menu-middle-block">
                    <div class="footer--wrapper-menu-middle-icon">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    </div>
                    <div class="footer--wrapper-menu-middle-text">
                        <p class="">Last Synced:</p>
                        <p class="">2015-06-02 14:33:10</p>
                    </div>
                    <div class="footer--wrapper-menu-middle-sync">
                        <i class="fa fa-refresh footer--wrapper-menu-middle-sync-icon" aria-hidden="true"></i>
                        <a href="">Force sync</a>
                    </div>
                </div>
                <div class="footer--wrapper-menu-middle-block">
                    <div class="footer--wrapper-menu-middle-icon">
                        <i class="fa fa-stethoscope" aria-hidden="true"></i>
                    </div>
                    <div class="footer--wrapper-menu-middle-text">
                        <p>Help desk and Resolution center available:</p>
                        <p>I-IV 8:00-18:00, V 8:00-16:45</p>
                    </div>
                </div>
            </div>

            <div class="footer--wrapper-menu-right">
                <ul class="footer--wrapper-menu-list">
                    <li class="footer--wrapper-menu-list-item"><a href="">Groups</a></li>
                    <li class="footer--wrapper-menu-list-item"><a href="">Frequently contacted</a></li>
                    <li class="footer--wrapper-menu-list-item"><a href="">Preferences</a></li>
                    <li class="footer--wrapper-menu-list-item"><a href="">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>