<div class="dropdown">
    <ul class="dropdown--list">
        <li class="dropdown--list-item">
            <i class="fa fa-users dropdown--list-item-icon" aria-hidden="true"></i>
            <span class="dropdown--list-item-label">Groups</span>
        </li>
        <li class="dropdown--list-item">
            <i class="fa fa-comments dropdown--list-item-icon" aria-hidden="true"></i>
            <span class="dropdown--list-item-label">Frequently contacted</span>
        </li>
        <li class="dropdown--list-item">
            <i class="fa fa-wrench dropdown--list-item-icon" aria-hidden="true"></i>
            <span class="dropdown--list-item-label">Preferences</span>
        </li>
        <li class="dropdown--list-item">
            <i class="fa fa-power-off dropdown--list-item-icon" aria-hidden="true"></i>
            <span class="dropdown--list-item-label">Log out</span>
        </li>
    </ul>
</div>
